@import url("/css/navegador.css");

body{
	overflow:auto;
}

main{
	height:calc(100vh - 70px);
	margin:40px 0 0 0;
	padding:0 0 20px 0;
}

main section{
	animation:aparecer 0.5s ease-out 0.5s 1 both;
	background:rgba(var(--extensao-cor-preto),0.4);
	border-radius:0.5rem 0.5rem 1rem 1rem;
	margin:1rem auto 0 auto;
	padding:1rem 0 0 0;
	width:95%;
}


configuracoes{
	margin:0;
}

h2{
	display:block;
	margin:1rem auto;
	padding:0.25rem 0.5rem;
	width:95%;
}

label{
	color:rgba(var(--extensao-cor-branco),1);
	margin:0;
}

input[type="date"]{
	width:100%;
}

footer,
header
{
	z-index:3 !important;
}

#importar,
#salvar
{
	border-radius:10px;
	box-shadow:0 2px 4px 2px rgba(var(--extensao-cor-preto),0.5);
	padding:1rem;
}

#salvar{
	box-shadow:0 2px 4px 2px rgba(var(--extensao-cor-preto),0.5);
	left:calc(50vw - 50px);
	width:100px;
	z-index:4 !important;
}

#importar{
	margin:1rem auto;
}