.largura20{
	width:20%;
}

.largura24{
	width:24%;
}

.largura25{
	width:25%;
}

.largura32{
	width:32%;
}

.largura49{
	width:49%;
}

.largura66{
	width:66%;
}

.largura99{
	width:99%;
}

.largura100{
	width:100%;
}